html
    head
    script(src='a.js')
    link(href='a.css', rel="stylesheet")
    body
        div
            ul
                li
                    input(type="text", id="text1", value="aaa")
                li
                    input(type="text", id="text2", value="bbb")
        div