html
    head
    script(src='a.js')
    script alert("test")
    link(href='a.css', rel="stylesheet")
    body
        div 29
            span 28

        div(style="width: 200px; height: 200px")   
        div(style= {width: '200px', height: '200px', background: 'red'}) 

        div(class="aaa")
        div(class=["bbb", "ccc"])

        div.box1
        div#box2

        div(title="this is title", id="div11")
        div#div22(title="this is title")

        a(href="http://www.taobao.com") 淘宝
        a(href="http://www.baidu.com") 百度