html
    head
    script(src='a.js')
    script. 
        window.onload=function(){
           let btn = window.getElementById("btn");
        };
    link(href='a.css', rel="stylesheet")
    body

        |this is data 
        |aaaaaaa
        | bbbbbb


