<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    
    <% for(let i=0; i<json.arr.length; i++) { %>
        <p>用户名： <%= json.arr[i].user %> </p>
        <p>密码： <%= json.arr[i].pass %> </p>
    <%} %>


</body>
</html>




